<!DOCTYPE html>
<html lang="en">

    <head>

        <style>
            h1 {text-align: center;}
            h3 {text-align: center;}
            h2 {text-align: center;}
            p {text-align: center;}
            div {text-align: center;}
            title {text-align: center;}
            ul {text-align: center;}
            li  {text-align: center;}
            a  {text-align: center;}
            button  {text-align: center;}
            span  {text-align: center;}
            th  {text-align: center;}
            select {
                height: 35px;
            }
            .relative {
                display: block;
                position: relative;
                right: 100px;
            }
            .rel {
                display: block;
                position: relative;
                top: -21px;
            }
        </style>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title> <%= pageTitle %> </title>

        <meta name="viewport" content=
        "width=device-width, initial-scale=1">

        <link rel="stylesheet" href=
        "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        <script src=
                "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
        </script>

        <script src=
                "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js">
        </script>

        </head>

        <body>

       <h3><%- include("includes/navbar.ejs")%></h3>

       <h3>

       </h3>
        <div class="container">
            <div class="row" id="row">
                <div class="col-md-12">
                    <form class="form-horizontal" name="project-form" action="/projectCRUD/insert" method="POST">
                        <div class="form-group col-sm-3 mb-3">
                            <label for="Project_Title">Project Title</label>
                            <label>
                                <input type="text" class="form-control" name="name" placeholder="Enter title">
                            </label>
                        </div>
                        &nbsp;
                        <div class="form-group col-sm-3 mb-3">
                            <label for="Summary">Summary</label>
                            <label>
                                <input type="text" class="form-control" name="Summary" placeholder="Enter Summary">
                            </label>
                        </div>
                        &nbsp;
                        <div class="form-group col-sm-3 mb-3">
                            <label for="Grant"> Grant</label>
                            <label>
                                <input type="number" class="form-control" name="Grant" placeholder="Enter Grant">
                            </label>
                        </div>
                        <div class="rel">
                        <div class="form-group col-sm-2 mb-2">
                            <label for="Starting_Date"> Starting Date</label>
                            <label>
                                <input type="date" class="form-control" name="Starting_Date" placeholder="Enter Starting Date">
                            </label>
                        </div>
                        &nbsp;
                        <div class="form-group col-sm-2 mb-2">
                            <label for="Due_Date"> Due Date</label>
                            <label>
                                <input type="date" class="form-control" name="Due_Date" placeholder="Enter Due Date">
                            </label>
                        </div>
                        </div>

<!--                       ------------------------ add more -------------------------------------------->
                        <div class="relative">
                        <select name = "program_title">
                            <option selected disabled>Choose Program Title</option>
                            <% Programs_Titles.forEach((pt, _) =>{ %>
                            <option value = "<%= pt.Program_Title %>"><%= pt.Program_Title %></option>
                            <% }) %>
                        </select>
                            &nbsp;
                            &nbsp;
                        <select name = "organization_name">
                            <option selected disabled>Choose Organization Name</option>
                            <% Organizations_Names.forEach((on, _) =>{ %>
                                <option value = "<%= on.Organization_Name %>"><%= on.Organization_Name %></option>
                            <% }) %>
                        </select>
                            &nbsp;
                            &nbsp;
                        <select name = "executive_id">
                            <option selected disabled>Choose Executive</option>
                            <% Executives_IDs.forEach((ex, _) =>{ %>
                                <option value = "<%= ex.Executive_ID %>"><%= ex.First_Name %> <%= ex.Last_Name %></option>
                            <% }) %>
                        </select>
                            &nbsp;
                            &nbsp;
                        <select name = "researcher_id">
                            <option selected disabled>Choose Researcher</option>

                            <% Researchers_IDs.forEach((rs, _) =>{ %>
                                <option value = "<%= rs.Researcher_ID %>"><%= rs.First_Name %> <%= rs.Last_Name %></option>
                            <% }) %>
                        </select>
                            &nbsp;
                            &nbsp;
                            &nbsp;
                        <button type="submit" class="btn btn-primary btn-submit-custom">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script src="../../public/assets/bootstrap/js/bootstrap.min.js"></script>
        </body>

</html>