<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title> <%= pageTitle %> </title>

</head>

<body>

<%- include("includes/navbar.ejs") %>

<h2> <%= pageTitle %> </h2>


<div class="container">
    <div class="row" id="row">
        <div class="col-md-12">
            <div class="card" id="card-container">
                <div class="card-body" id="card">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th> First Scientific Field</th>
                                <th> Second Scientific Field</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <% if(F1.length){

                            for(var i = 0; i < F1.length; i++) { %>
                                <tr>
                                    <td><%= F1[i] %></td>
                                    <td><%= F2[i] %></td>
                                </tr>
                            <% }

                            }else{ %>
                                <tr>
                                    <td colspan="3">No Top Fields</td>
                                </tr>
                            <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
