<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title> <%= pageTitle %> </title>

</head>

<body>

<%- include("includes/navbar.ejs") %>

<h2> <%= pageTitle %> </h2>

<p> These researchers work in 5 or more projects that don't have deliverables</p>


<div class="container">
    <div class="row" id="row">
        <div class="col-md-12">
            <div class="card" id="card-container">
                <div class="card-body" id="card">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th> First Name</th>
                                <th> Last Name</th>
                                <th> Number of Projects</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <% if(Last_Name.length){

                            for(var i = 0; i < Last_Name.length; i++) { %>
                                <tr>
                                    <td><%= First_Name[i] %></td>
                                    <td><%= Last_Name[i] %></td>
                                    <td><%= Count[i] %></td>
                                </tr>
                            <% }

                            }else{ %>
                                <tr>
                                    <td colspan="3">All executives have stress:( </td>
                                </tr>
                            <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>