<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        h1 {text-align: center;}
        h3 {text-align: center;}
        h2 {text-align: center;}
        p {text-align: center;}
        div {text-align: center;}
        title {text-align: center;}
        ul {text-align: center;}
        li  {text-align: center;}
        a  {text-align: center;}
        button  {text-align: center;}
        span  {text-align: center;}
        th  {text-align: center;}
        .bolds {font-weight: bold;}

    </style>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title> <%= pageTitle %> </title>

    <meta name="viewport" content=
    "width=device-width, initial-scale=1">

    <link rel="stylesheet" href=
    "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src=
            "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>

    <script src=
            "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js">
    </script>

</head>

<body>

<h3><%- include("includes/navbar.ejs") %></h3>

<h2> <%= pageTitle %></h2>


<div class="container">
    <form class="form-horizontal" name="project-form" action="/popularField" method="GET">
        <select name = "field">
            <option selected disabled>Choose Scientific Field</option>
            <% Fields.forEach((f, _) =>{ %>
                <option value = "<%= f.Scientific_Field %>"><%= f.Scientific_Field %></option>
            <% }) %>
        </select>

        <button type="submit" class="btn btn-primary btn-submit-custom">Get Results</button>
    </form>

    <div class="row" id="row">
        <div class="col-md-12">
            <div class="card" id="card-container">
                <div class="card-body" id="card">
                    <div class="table-responsive">
                        <table class="table">

                            <thead>
                            <tr>
                                <th style="text-align:center"> Scientific Field</th>
                                <th style="text-align:center"> Project Title</th>
                                <th style="text-align:center"> Researcher</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <% result.forEach((rs, _) => { %>
                                <tr>
                                    <td><%= rs.SField %></td>
                                    <td><%= rs.Title %></td>
                                    <td><%= rs.RName %></td>
                                </tr>
                            <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>