<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        h1 {text-align: center;}
        h3 {text-align: center;}
        h2 {text-align: center;}
        p {text-align: center;}
        div {text-align: center;}
        title {text-align: center;}
        ul {text-align: center;}
        li  {text-align: center;}
        a  {text-align: center;}
        button  {text-align: center;}
        span  {text-align: center;}
        th  {text-align: center;}


    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title> <%= pageTitle %> </title>

    <meta name="viewport" content=
    "width=device-width, initial-scale=1">

    <link rel="stylesheet" href=
    "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src=
            "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>

    <script src=
            "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js">
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>

<div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Program</h4>
            </div>
            <div class="modal-body">
                <form id="modal-form">
                    <div style="text-align: center;">
                        <input type="text" name="programtitle" id="programtitle" readonly></br>
                        <input type="text" name="description" id="description"></br>
                        <input type="text" name="department" id="department"></br>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="modal-form" class="btn btn-success">Update</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<h3><%- include("includes/navbar.ejs")%></h3>

<h2> <%= pageTitle %> </h2>



<div class="container">
    <div class="col"><a class="btn btn-dark text-center" role="button" style="height: 50px;text-align: center" href="/program/insert">Add Organization</a></div>
    <div class="row" id="row">
        <div class="col-md-12">
            <div class="card" id="card-container">
                <div class="card-body" id="card">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th style="text-align:center" >Program Title</th>
                                <th style="text-align:center" >Description</th>
                                <th style="text-align:center" >Department</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <% if(programs.length > 0){

                            programs.forEach((org, i) => { %>
                                <tr>
                                    <!--                            <th scope="row"><%= (i+1) %></th>-->
                                    <td><%= org.Program_Title %></td>
                                    <td><%= org.Description %></td>
                                    <td><%= org.Department %></td>
                                    <td>
                                        <a type="button" onclick="setModalFields(this)"
                                           data-toggle="modal" data-programtitle="<%= org.Program_Title %>"
                                           data-description="<%= org.Description %>" data-department="<%= org.Department%>"
                                           data-target="#editModal">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                    </td>
                                    <form method="POST" action="/program/delete/<%= org.Program_Title %>">
                                        <td>
                                            <button style="all: unset; cursor: pointer;" type="submit"><i class="fa fa-trash"></i></button>
                                        </td>
                                    </form>
                                </tr>
                            <% })

                            }else{ %>
                                <tr>
                                    <td colspan="3">No Program</td>
                                </tr>
                            <% } %>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function setModalFields(row) {
        document.getElementById("programtitle").value = row.dataset.programtitle;
        document.getElementById("description").value = row.dataset.description;
        document.getElementById("department").value = row.dataset.department;
        document.getElementById("modal-form").action = "/program/edit/";
        document.getElementById("modal-form").method = "POST";
    }
</script>

<script src="../../public/assets/bootstrap/js/bootstrap.min.js"></script>

<script src="../../public/assets/js/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

<script>

</script>


</body>

</html>