<!DOCTYPE html>
<html lang="en">

<head>
        <style>
            h1 {text-align: center;}
            h3 {text-align: center;}
            h2 {text-align: center;}
            p {text-align: center;}
            div {text-align: center;}
            title {text-align: center;}
            ul {text-align: center;}
            li  {text-align: center;}
            a  {text-align: center;}
            button  {text-align: center;}
            span  {text-align: center;}
            th  {text-align: center;}


        </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title> <%= pageTitle %> </title>
<style>
    .container {
        overflow: hidden;
    }
    .filterDiv {
        float: left;
        /*background-color: #2196F3;
        color: #ffffff;*/
        width: 200px;
        line-height: 100px;
        text-align: center;
        margin: 2px;
        display: none; /* Hidden by default */
    }

    /* The "show" class is added to the filtered elements */
    .show {
        display: block;
    }

</style>
    <title> <%= pageTitle %> </title>

        <meta name="viewport" content=
        "width=device-width, initial-scale=1">

        <link rel="stylesheet" href=
        "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <script src=
                "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
        </script>

        <script src=
                "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js">
        </script>

</head>

<body>

<h3><%- include("includes/navbar.ejs")%></h3>

<h2> <%= pageTitle %> </h2>

<!--    <p>Choose your project based on:</p>-->
<!--<div class="box">-->
<!--    <label for="c1"><input type="checkbox" name="criteria" value="all" id="c1">Show all</label>-->
<!--    <label for="c2"><input type="checkbox" name="criteria" value="summary" id="c2">Summary</label>-->
<!--    <label for="c3"><input type="checkbox" name="criteria" value="date" id="c3">Date</label>-->
<!--    <label for="c4"><input type="checkbox" name="criteria" value="duration" id="c4">Duration</label>-->
<!--    <label for="c5"><input type="checkbox" name="criteria" value="executive" id="c5">Executive</label>-->
<!--</div>-->
<!--    <p>-->
<!--    <button id="btn">Get Project Information</button>-->
<!--</p>-->

<!-- The filterable elements. Note that some have multiple class names (this can be used if they belong to multiple categories) -->
<p>

</p>
<div class="container">
    <div class="row" id="row">
        <form class="form-horizontal" name="project-form" action="/project" method="GET">
            <div class="form-group col-sm-6 mb-6">
                <label for="Start_Date">Start Date</label>
                <label>
                    <input type="date" class="form-control" name="Start_Date" placeholder="Enter Start Date">
                </label>
            </div>
            <div class="form-group col-sm-6 mb-6">
                <label for="Duration">Duration</label>
                <label>
                    <input type="number" class="form-control" name="Duration" placeholder="Enter Duration">
                </label>
            </div>
            <div class="form-group col-sm-6 mb-6">
                <label for="Executive_ID">Executive</label>
                <select name = "Executive_ID">
                    <option selected disabled>Choose Executive</option>
                    <% Executives.forEach((exec, _) =>{ %>
                        <option value = "<%= exec.Executive_ID %>"><%= exec.First_Name %> <%= exec.Last_Name %></option>
                    <% }) %>
                </select>
            </div>
            <br>
            <button type="submit" class="btn btn-primary btn-submit-custom">Get Result</button>
        </form>
        <div class="col-md-12">
            <div class="card" id="card-container">
                <div class="card-body" id="card">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Project Title</th>
                                    <th>Summary</th>
                                    <th>Starting Date</th>
                                    <th>Duration (Days)</th>
                                    <th>Executive</th>
                                    <th>Program Title</th>
                                    <th>Researchers on Project</th>
                                </tr>
                            </thead>
                            <tbody>
                            <% result.forEach((rs, _) => { %>
                                <tr>
                                    <td><%= rs.Project_Title %></td>
                                    <td><%= rs.Summary %></td>
                                    <td><%= (rs.Starting_Date).toLocaleDateString('en-GB') %></td>
                                    <td><%= rs.Duration %></td>
                                    <td><%= rs.ExName %></td>
                                    <td><%= rs.Program_Title %></td>
                                    <form method="GET" action="/project/<%= rs.Project_Title %>/researchersProj">
                                        <td>
                                            <button style="all: unset; cursor: pointer;" type="submit"><i class="fa fa-info-circle"></i></button>
                                        </td>
                                    </form>
                                </tr>
                            <% }) %>
                            </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<script src="../../public/assets/bootstrap/js/bootstrap.min.js"></script>

<script src="../../public/assets/js/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

<script>
    const btn = document.querySelector('#btn');
    btn.addEventListener('click', (event) => {
        var r, i;
        r = document.getElementsByClassName("filterDiv");
        for (i = 0; i < r.length; i++) {
            w3RemoveClass(r[i], "show");
        }
        let checkboxes = document.querySelectorAll('input[name="criteria"]:checked');
        checkboxes.forEach((checkbox) => {
            filterSelection(checkbox.value);
        });
    });
    filterSelection("all")
    function filterSelection(c) {
        var x, i;
        x = document.getElementsByClassName("filterDiv");
        if (c == "all") c = "";
        // Add the "show" class (display:block) to the filtered elements, and remove the "show" class from the elements that are not selected
        for (i = 0; i < x.length; i++) {
            if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
        }
    }

    // Show filtered elements
    function w3AddClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
            if (arr1.indexOf(arr2[i]) == -1) {
                element.className += " " + arr2[i];
            }
        }
    }

    // Hide elements that are not selected
    function w3RemoveClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
            while (arr1.indexOf(arr2[i]) > -1) {
                arr1.splice(arr1.indexOf(arr2[i]), 1);
            }
        }
        element.className = arr1.join(" ");
    }

    // Add active class to the current control button (highlight it)
 /*   var btnContainer = document.getElementById("myBtnContainer");
    var btns = btnContainer.getElementsByClassName("btn");
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function() {
            var current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active", "");
            this.className += " active";
        });
    } */
</script>


</body>

</html>