<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        h1 {text-align: center;}
        h3 {text-align: center;}
        h2 {text-align: center;}
        p {text-align: center;}
        div {text-align: center;}
        title {text-align: center;}
        ul {text-align: center;}
        li  {text-align: center;}
        a  {text-align: center;}
        button  {text-align: center;}
        span  {text-align: center;}
        th  {text-align: center;}


    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title> <%= pageTitle %> </title>

    <meta name="viewport" content=
    "width=device-width, initial-scale=1">

    <link rel="stylesheet" href=
    "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src=
            "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>

    <script src=
            "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js">
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>

<div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Project</h4>
            </div>
            <div class="modal-body">
                <form id="modal-form">
                    <div style="text-align: center;">
                        <input type="text" name="projecttitle" id="projecttitle" readonly></br>
                        <input type="text" name="summary" id="summary"></br>
                        <input type="text" name="grant" id="grant"></br>
                        <input type="text" name="startingdate" id="startingdate"></br>
                        <input type="text" name="duedate" id="duedate"></br>
                        <input type="text" name="programtitle" id="programtitle" readonly></br>
                        <input type="text" name="organizationname" id="organizationname" readonly></br>
                        <input type="text" name="executiveid" id="executiveid" readonly></br>
                        <input type="text" name="researcherid" id="researcherid" readonly>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="modal-form" class="btn btn-success">Update</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<h3><%- include("includes/navbar.ejs")%></h3>

<h2> <%= pageTitle %> </h2>



<div class="container">
    <div class="col"><a class="btn btn-dark text-center" role="button" style="height: 50px;text-align: center" href="/projectCRUD/insert">Add Project</a></div>
    <div class="row" id="row">
        <div class="col-md-12">
            <div class="card" id="card-container">
                <div class="card-body" id="card">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th style="text-align:center" >Project Title</th>
                                <th style="text-align:center" >Summary</th>
                                <th style="text-align:center" >Grant</th>
                                <th style="text-align:center" >Starting Date</th>
                                <th style="text-align:center" >Due Date</th>
                                <th style="text-align:center" >Program Title</th>
                                <th style="text-align:center" >Organization Name</th>
                                <th style="text-align:center" >Executive ID</th>
                                <th style="text-align:center" >Researcher ID</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <% if(projects.length > 0){

                            projects.forEach((org, i) => { %>
                                <tr>
                                    <!--                            <th scope="row"><%= (i+1) %></th>-->
                                    <td><%= org.Project_Title %></td>
                                    <td><%= org.Summary %></td>
                                    <td><%= org.Grant %></td>
                                    <td><%= org.Starting_Date && (org.Starting_Date).toLocaleDateString('en-GB')%></td>
                                    <td><%= org.Due_Date && (org.Due_Date).toLocaleDateString('en-GB')%></td>
                                    <td><%= org.Program_Title %></td>
                                    <td><%= org.Organization_Name %></td>
                                    <td><%= org.Executive_ID %></td>
                                    <td><%= org.Researcher_ID %></td>
                                    <td>
                                        <a type="button" onclick="setModalFields(this)"
                                           data-toggle="modal" data-projecttitle="<%= org.Project_Title %>"
                                           data-summary="<%= org.Summary %>" data-grant="<%= org.Grant %>"
                                           data-startingdate="<%= org.Starting_Date %>"
                                           data-duedate="<%= org.Due_Date %>" data-programtitle="<%= org.Program_Title %>"
                                           data-organizationname="<%= org.Organization_Name %>"
                                           data-executiveid="<%= org.Executive_ID %>"
                                           data-researcherid="<%= org.Researcher_ID %>"
                                           data-target="#editModal">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                    </td>
                                    <form method="POST" action="/projectCRUD/delete/<%= org.Project_Title %>">
                                        <td>
                                            <button style="all: unset; cursor: pointer;" type="submit"><i class="fa fa-trash"></i></button>
                                        </td>
                                    </form>
                                </tr>
                            <% })

                            }else{ %>
                                <tr>
                                    <td colspan="3">No Project</td>
                                </tr>
                            <% } %>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function setModalFields(row) {
        document.getElementById("projecttitle").value = row.dataset.projecttitle;
        document.getElementById("summary").value = row.dataset.summary;
        document.getElementById("grant").value = row.dataset.grant;
        document.getElementById("startingdate").value = row.dataset.startingdate;
        document.getElementById("duedate").value = row.dataset.duedate;
        document.getElementById("programtitle").value = row.dataset.programtitle;
        document.getElementById("organizationname").value = row.dataset.organizationname;
        document.getElementById("executiveid").value = row.dataset.executiveid;
        document.getElementById("researcherid").value = row.dataset.researcherid;
        document.getElementById("modal-form").action = "/projectCRUD/edit/";
        document.getElementById("modal-form").method = "POST";
    }
</script>

<script src="../../public/assets/bootstrap/js/bootstrap.min.js"></script>

<script src="../../public/assets/js/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

<script>

</script>


</body>

</html>